<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/css/employer.css">

</head>

<body>
    <nav>
        <img src="/assets/icons/logo.svg" alt="">
        <div class="nav-items">
            <input type="checkbox" class="notification" id="notification">
            <input type="checkbox" class="dropdown" id="dropdown">
            <div class="dropdown-group">
                <a href="">profile</a>
                <a href="">logout</a>
                <a href="">profile</a>
            </div>
            <div class="notification-group">
                <a href="">notification one</a>
                <a href="">notification two</a>
                <a href="">notification three</a>
                <a href="">notification four</a>
            </div>
        </div>
    </nav>
    <main>
        {{#if tasks}}
            {{#each tasks}}
                <div class="task">
                    <h3 id="title" contenteditable="true">{{this.dataValues.title}}</h3>
                    <p id="description" contenteditable="true">{{this.dataValues.description}}</p>
                    <p id="date">{{this.dataValues.dueDate}}</p>
                    <p id="status">{{this.dataValues.status}}</p>
                </div>
            {{/each}}
        {{/if}}

        {{#unless tasks.length}}
            <div id="openModal">
                <img src="/assets/icons/add-big.png" alt="" class="add-task-big">
            </div>
        {{/unless}}
    </main>
        {{#if tasks}}
            <div class="add-sm">
                <img  src="/assets/icons/add-sm.png" alt="" id="openModal">
            </div>
        {{/if}}

    <div id="modalOverlay" class="modal-overlay">
        <!-- <div class="notify" ></div> -->
        <div id="modal" class="modall">
            <span id="closeModal" class="close">&times;</span>
            <h2>Create Task</h2>

            <form action='' method='post' class='modal-form'>
                <input name="title" type="text" placeholder="Task name" class="form-control" required>
                <textarea name="description" rows="10" placeholder="Task description" id="" required></textarea>
                <input name="dueDate" type="date" class="form-control" required>
                <input list="employees" name="employee" id="employee" required placeholder="Assigned to">
                <datalist id="employees">
                    {{#if employees}}
                    {{#each employees}}
                    <option value="{{this.dataValues.email}}">
                        {{/each}}
                        {{/if}}

                </datalist>

                <button class="btn btn-primary" type='submit'>Submit</button>
            </form>

        </div>
    </div>

    <script src="/assets/js/employer.js"></script>
</body>

</html>