<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
    <link rel="stylesheet" href="/assets/css/employee.css">
</head>

<body>
    <nav>
        <img src="/assets/icons/logo.svg" alt="">
        <div class="nav-items">
            <input type="checkbox" class="notification">
            <input type="checkbox" class="dropdown">
            <div class="dropdown-group">
                <a href="">Sign out</a>
            </div>
            <div class="notification-group">
                <ul>
                    <li>john doe completed task jsndj snjd</li>
                    <li>john doe completed task</li>
                    <li>john doe completed task</li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        {{#if pendingTasks }}
        <div id="todos" ondrop="drop(event, 'Pending')" ondragover="allowDrop(event)">
            <h1>TASKS</h1>
            {{#each pendingTasks}}
                {{#if this.dataValues.status }}
                <div class="task draggable" id="task{{this.dataValues.taskId}}" draggable="true" ondragstart="drag(event)" ondragend="resetEffect(event)">
                    <h3 id="title">{{this.dataValues.title}}</h3>
                    <p id="description">{{this.dataValues.description}}</p>
                    <p id="date">{{this.dataValues.dueDate}}</p>
                    <p id="status">{{this.dataValues.status}}</p>
                </div>
                {{/if}}
            {{/each}}
        </div>

        <div id="completed" ondrop="drop(event, 'Completed')" ondragover="allowDrop(event)">
            <h1>COMPLETED</h1>
            {{#each completedTasks}}
                {{#if this.dataValues.status }}
                    <div class="task draggable" id="task{{this.dataValues.taskId}}" draggable="true" ondragstart="drag(event)" ondragend="resetEffect(event)">
                        <h3 id="title">{{this.dataValues.title}}</h3>
                        <p id="description">{{this.dataValues.description}}</p>
                        <p id="date">{{this.dataValues.dueDate}}</p>
                        <p id="status">{{this.dataValues.status}}</p>
                    </div>
                {{/if}}
            {{/each}}                
        </div>

        {{/if}}

        {{#unless pendingTasks}}
            {{#unless completedTasks}}
                <h1 class="no-task">NO TASK</h1>
            {{/unless}}
        {{/unless}}
    </main>
    <script src="/assets/js/employee.js"></script>
</body>

</html>